.title {
    font-family: 'Archer Bold Pro';
    @include respond-to("screen-xs") {
        font-size: 24px;
    }
    @include respond-to("screen-sm") {
        font-size: 32px;
    }
    @include respond-to("screen-md") {
        font-size: 40px;
    }
}

.home-welcome-bottom {
    .title {
        padding-left: 0;
        @include respond-to("screen-xs") {
            font-size: 22px;
        }
        @include respond-to("screen-sm") {
            font-size: 26px;
        }
        @include respond-to("screen-md") {
            font-size: 36px;
        }
    }
    p {}
}

.inner-title {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 700;
    @include respond-to("screen-xs") {
        font-size: 13px;
    }
    @include respond-to("screen-sm") {
        padding-left: 30px;
        font-size: 14px;
    }
}

.content {
    font-size: 14px;
}

.parallax {
    .content {
        font-size: 14px;
        .choose {
            font-family: 'Archer Bold';
            font-size: 60px;
            color: #e61616;
            @include respond-to("screen-xs") {
                font-size: 34px;
            }
            @include respond-to("screen-sm") {
                font-size: 45px;
            }
        }
    }
}

.modal {
    .modal-body {
        .couponCode {
            margin-left: 5px;
            font-style: italic;
            font-size: 12px;
        }
    }
}