.title {
    font-size: 42px;
    font-family: 'Archer Bold Pro';
    @include respond-to("screen-xs") {
        font-size: 24px;
    }
    @include respond-to("screen-sm") {
        font-size: 32px;
    }
    @include respond-to("screen-md") {
        font-size: 40px;
    }
}

.home-welcome-bottom {
    .title {
        padding-left: 0;
        @include respond-to("screen-xs") {
            font-size: 22px;
        }
        @include respond-to("screen-sm") {
            font-size: 26px;
        }
        @include respond-to("screen-md") {
            font-size: 36px;
        }
    }
    p {}
}

.inner-title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
    // font-family: 'Archer-Book-Pro';
    @include respond-to("screen-xs") {
        font-size: 13px;
    }
    @include respond-to("screen-sm") {
        padding-left: 30px;
        font-size: 14px;
    }
}

.content {
    font-size: 14px;
}