header {
    .navbar {
        margin-bottom: 0;
        @include respond-to("screen-xs") {
            height: 100%;
        }
        .navbar-brand {
            padding: 0;
            img {
                width: 140px;
                height: 80px;
                @include respond-to("screen-xs") {
                    width: 140px;
                    height: 60px;
                }
            }
        }
        .icon-bar {
            background-color: black;
        }
        .navbar-collapse {
            transition: 0.3s;
            @include respond-to("screen-xs") {
                margin-top: 70px;
                border-top: 1px solid #eaeaea;
            }
        }
        .navbar-nav {
            li {
                margin-right: 3px;
                background-color: transparent;
                transition: 0.3s ease-in-out;
                a {
                    padding: 30px;
                    color: black;
                    font-size: 18px;
                    &.active {
                        background-color: transparent;
                        &:after {
                            content: '';
                            display: block;
                            position: relative;
                            top: 8px;
                            width: 100%;
                            height: 2px;
                            background: #be302c;
                            transition: width .3s;
                        }
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: relative;
                        top: 8px;
                        width: 0;
                        height: 2px;
                        background: #be302c;
                        transition: width .3s;
                    }
                    &:hover {
                        background-color: transparent;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                    @include respond-to("screen-xs") {
                        padding: 10px;
                        color: black;
                        font-size: 14px;
                    }
                    @include respond-to("screen-sm") {
                        font-size: 16px;
                    }
                    @include respond-to("screen-md") {
                        font-size: 18px;
                    }
                }
                @include respond-to("screen-xs") {
                    background-color: transparent;
                }
            }
        }
    }
}