header {
    @include respond-to("screen-xs") {
        padding-top: 0;
        height: 75px;
    }
    @include respond-to("screen-sm") {
        padding-top: 0;
        height: 100px;
    }
    .container {
        @include respond-to("screen-xs") {
            padding: 0;
        }
    }
    .navbar {
        margin-bottom: 0;
        @include respond-to("screen-xs") {
            height: 100%;
        }
        .navbar-brand {
            padding: 0;
            height: 100%;
            img {
                width: 140px;
                height: 80px;
                @include respond-to("screen-xs") {
                    width: 120px;
                    height: 50px;
                }
                @include respond-to("screen-sm") {
                    margin-top: 15px;
                    width: 120px;
                    height: 60px;
                }
                @include respond-to("screen-md") {
                    width: 130px;
                    height: 80px;
                }
            }
        }
        .sub-brand {
            position: absolute;
            bottom: 12px;
            margin-left: -40px;
            font-family: 'Archer Pro Ital';
            font-size: 18px;
            color: white;
            @include transition(0.3s);
            @include on-event {
                color: #cc0000;
                text-decoration: none;
            }
            @include respond-to("screen-xs") {
                bottom: 0;
                margin-left: -30px;
            }
            @include respond-to("screen-sm") {
                bottom: 8px;
                margin-left: -30px;
            }
        }
        .icon-bar {
            background-color: black;
            @include respond-to("screen-xs") {
                background-color: white;
            }
        }
        .navbar-collapse {
            transition: 0.3s;
            @include respond-to("screen-xs") {
                margin-top: 70px;
            }
        }
        .navbar-nav {
            @include respond-to("screen-xs") {
                background-color: rgba(255, 255, 255, 0.5);
            }
            @include respond-to("screen-sm") {
                padding-top: 20px;
            }
            li {
                margin-right: 3px;
                background-color: transparent;
                transition: 0.3s ease-in-out;
                &.active {
                    background-color: transparent;
                }
                a {
                    padding: 30px;
                    color: white;
                    font-size: 14px;
                    font-weight: 700;
                    &:focus {
                        background-color: transparent;
                        box-shadow: none;
                    }
                    &.active {
                        background-color: transparent;
                        box-shadow: none;
                        &:after {
                            content: '';
                            display: block;
                            position: relative;
                            top: 8px;
                            width: 100%;
                            height: 2px;
                            background: #cc0000;
                            transition: width .3s;
                        }
                    }
                    &:after {
                        content: '';
                        display: table;
                        margin: auto;
                        position: relative;
                        top: 8px;
                        width: 0;
                        height: 3px;
                        background: #cc0000;
                        transition: width .3s;
                    }
                    &:hover {
                        background-color: transparent;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                    @include respond-to("screen-xs") {
                        padding: 5px;
                        color: black;
                        font-size: 14px;
                    }
                    @include respond-to("screen-sm") {
                        padding: 10px;
                        font-size: 14px;
                    }
                    @include respond-to("screen-md") {
                        padding: 25px;
                        font-size: 14px;
                    }
                }
                @include respond-to("screen-xs") {
                    background-color: transparent;
                }
            }
        }
    }
}

.affix {
    padding-top: 10px;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
    .container {
        @include respond-to("screen-xs") {
            padding: 0;
        }
    }
    .navbar {
        @include respond-to("screen-xs") {
            padding: 0 10px;
            background-color: white;
        }
        .navbar-brand {
            height: 100%;
            img {
                @include respond-to("screen-xs") {
                    width: 120px;
                    height: 50px;
                }
                @include respond-to("screen-sm") {
                    margin-top: 15px;
                    width: 120px;
                    height: 60px;
                }
                @include respond-to("screen-md") {
                    width: 130px;
                    height: 80px;
                }
            }
        }
        .sub-brand {
            position: absolute;
            bottom: 12px;
            margin-left: -40px;
            font-family: 'Archer Pro Ital';
            font-size: 18px;
            color: #cc0000;
            @include transition(0.3s);
            @include on-event {
                color: #cc0000;
                text-decoration: none;
            }
            @include respond-to("screen-xs") {
                bottom: 0;
                margin-left: -30px;
            }
            @include respond-to("screen-sm") {
                bottom: 8px;
                margin-left: -30px;
            }
        }
        .icon-bar {
            @include respond-to("screen-xs") {
                background-color: black;
            }
        }
        .navbar-nav {
            li {
                background-color: transparent;
                &:active {
                    background-color: white;
                    box-shadow: none;
                }
                &:focus {
                    background-color: white;
                    box-shadow: none;
                }
                a {
                    color: black;
                    &:active {
                        background-color: white;
                        box-shadow: none;
                    }
                    &:focus {
                        background-color: white;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}