.home-banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7)), url('../img/stopala-u-travi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    @include respond-to("screen-xs") {
        margin-top: 0px;
        height: 600px;
    }
}

.home-welcome-top {
    padding: 40px 0 20px 0;
    .welcome-holder {
        padding: 40px;
        background-color: white;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        @include respond-to("screen-xs") {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .title {
            font-family: 'Fontdiner Swanky', cursive;
            font-size: 48px;
            color: #cc0000;
            @include respond-to("screen-xs") {
                font-size: 24px;
            }
            @include respond-to("screen-sm") {
                font-size: 32px;
            }
            @include respond-to("screen-md") {
                font-size: 40px;
            }
        }
        .content {
            color: black;
            font-size: 17px;
            @include respond-to("screen-xs") {
                font-size: 13px;
            }
            @include respond-to("screen-sm") {
                font-size: 14px;
            }
        }
    }
}

.home-welcome-bottom {
    padding-bottom: 30px;
    text-align: center;
    color: white;
    .fa {
        font-size: 50px;
        @include respond-to("screen-sm") {
            font-size: 40px;
        }
    }
    .title {
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        font-size: 32px;
    }
    .left {
        display: table;
        padding: 40px 10px;
        width: 100%;
        background-color: #cc0000;
        border-bottom-left-radius: 100px;
        @include respond-to("screen-xs") {
            margin-bottom: 10px;
            border-bottom-left-radius: 0;
        }
        p {
            font-size: 18px;
        }
    }
    .mid {
        display: table;
        padding: 40px 10px;
        width: 100%;
        background-color: #ff5b58;
        @include respond-to("screen-xs") {
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
        }
    }
    .right {
        display: table;
        padding: 40px 10px;
        width: 100%;
        background-color: #cc0000;
        border-bottom-right-radius: 100px;
        @include respond-to("screen-xs") {
            border-bottom-right-radius: 0;
        }
        p {
            font-size: 18px;
        }
    }
}

.parallax {
    background: url('../img/5-habits-of-happy-people.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .home-midBanner {
        padding: 150px 0;
        text-align: center;
        p {
            color: white;
            font-size: 48px;
            line-height: 60px;
            font-weight: 700;
            @include respond-to("screen-xs") {
                font-size: 24px;
                line-height: 30px;
            }
            @include respond-to("screen-sm") {
                font-size: 32px;
                line-height: 40px;
            }
            @include respond-to("screen-md") {
                font-size: 40px;
            }
            &:before {
                content: "";
                border-top: 2px solid white;
                display: table;
                width: 110px;
                margin: auto;
                margin-bottom: 60px;
            }
            &:after {
                content: "";
                border-top: 2px solid white;
                display: table;
                width: 110px;
                margin: auto;
                margin-top: 60px;
            }
        }
    }
}

.home-people-say {
    padding: 50px 0;
    background-color: #cc0000;
    h1 {
        margin-bottom: 42px;
        color: white;
        font-family: 'Archer Bold';
    }
    .owl-carousel {
        .owl-stage-outer {
            height: 100%;
            .owl-stage {
                height: 100%;
            }
            .owl-item {
                display: table;
                height: 100%;
                .review {
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                    text-align: center;
                    font-size: 26px;
                    line-height: 50px;
                    color: white;
                    font-family: 'Archer Pro Ital';
                    @include respond-to("screen-xs") {
                        font-size: 18px;
                        line-height: 30px;
                    }
                    @include respond-to("screen-sm") {
                        font-size: 24px;
                        line-height: 40px;
                    }
                    .from {
                        p {
                            font-size: 22px;
                        }
                    }
                    .fa-quote-left {
                        position: relative;
                        top: -20px;
                        margin-right: 5px;
                        font-size: 20px;
                        @include respond-to("screen-xs") {
                            top: 0px;
                        }
                        @include respond-to("screen-sm") {
                            top: -5px;
                        }
                        @include respond-to("screen-md") {
                            top: -10px;
                        }
                    }
                    .fa-quote-right {
                        position: relative;
                        top: -20px;
                        margin-left: 5px;
                        font-size: 20px;
                        @include respond-to("screen-xs") {
                            top: 0px;
                        }
                        @include respond-to("screen-sm") {
                            top: -5px;
                        }
                        @include respond-to("screen-md") {
                            top: -10px;
                        }
                    }
                }
            }
        }
    }
    .control-holder {
        display: table;
        margin: auto;
        text-align: center;
        a {
            display: table-cell;
            position: relative;
            padding: 10px;
            color: white;
            cursor: pointer;
            i {
                color: white;
                font-size: 30px;
                cursor: pointer;
                @include respond-to("screen-xs") {
                    font-size: 22px;
                }
            }
        }
    }
}

.home-thumbnails {
    padding: 50px 0;
    background-color: transparent;
    .title {
        margin-bottom: 30px;
        @include respond-to ("screen-xs") {
            margin-top: 0;
        }
    }
    .btn-holder {
        margin-top: 20px;
    }
    .row {
        padding-top: 20px;
        border-top: 2px solid white;
        .img-holder {
            img {
                width: 100%;
                height: 250px;
                @include respond-to ("screen-xs") {
                    height: 300px;
                }
                @include respond-to ("screen-sm") {
                    height: 200px;
                }
            }
        }
    }
    .thumbnails {
        .img-holder {
            position: relative;
            transition: 0.3s ease-in-out;
            .thumbnail-overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                height: 100%;
                padding: 0 15px;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                transition: 0.5s ease-in-out;
                p {
                    text-align: justify;
                    font-size: 17px;
                    @include respond-to ("screen-xs") {
                        font-size: 14px;
                    }
                    &.inner-title {
                        font-size: 20px;
                        @include respond-to ("screen-xs") {
                            font-size: 17px;
                        }
                    }
                }
                ul {
                    padding-left: 10px;
                    list-style: none;
                    li {
                        font-size: 17px;
                        .fa-circle {
                            color: #3d67af;
                        }
                    }
                }
            }
            &:hover .thumbnail-overlay {
                opacity: 1;
            }
        }
        .content-holder {
            @include respond-to ("screen-xs") {
                text-align: center;
            }
            p {
                @include respond-to ("screen-xs") {
                    font-size: 14px;
                }
            }
        }
    }
}

.modal {
    font-family: 'Open Sans', sans-serif;
    .modal-content {
        padding: 10px 20px;
        .modal-header {
            border: none;
            img {
                height: 50px;
            }
        }
        .modal-body {
            .save {
                font-weight: 700;
            }
            .content-bot-1 {
                margin-bottom: 0;
            }
            .content-bot-2 {
                margin-bottom: 20px;
            }
            img {
                width: 100%;
            }
        }
    }
}